//HTML and body css
html, body{
    margin:0px;
    padding:0px;
}

//Page seperator (<hr/>) css
hr{
    border-color:#777777;
}

//HomePage css
.HomePage-Container{
    .HomePage-Jumbotron{
        margin-left:200px;
        margin-right:200px;
        text-align: center;
        background-color:#afafaf;
    }
    Button{
        margin-left:5px;
        margin-right:5px;
    }
}

//Footer css
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #afafaf;
    z-index:999;
    font-size: 16px;
}

//NavBar css
.Navbar{
    .NavbarLink{
        color:#9d9d9d;
        text-decoration:none;
    }
    .NavbarLink:hover{
        color:#fff;
        text-decoration:none;
    }
    .NavbarDropdownLink{
        color: #333;
    }
    .NavbarDropdownLink:hover{
        color:#262626;
        text-decoration:none;
    }
}

//AboutUs css
.AboutUs-Container{
    margin-left:100px;
    margin-right:100px;
}

//Catalog form css
.catalogForm{
    margin-left:200px;
    margin-right:200px;
}
.addButton{
    margin-left:200px;
    margin-right:200px;

    .addAnother{
        margin-left:10px;
    }
}
.catalogHeader{
    margin-left:200px;
    margin-right:200px;
}
.uncommittedChanges{
    margin-left:200px;
    margin-right:300px;
    margin-bottom:30px;
    Button{
        margin-left:10px;
    }
}

//Product Listing css
.productListing{
    margin-top:30px;
    margin-left:200px;
    margin-right:200px;
    h2{
        margin-bottom:30px;
    }
    Button{
        margin-top:10px;
        margin-left:10px;
    }
    .product{
        margin-bottom:30px;
        text-align: center;
    }
}

//input errors
input.error{
    border-color: red;
}

