//// Say you have a file named style.scss in the same directory as main.scss
// to import the styling here follow the convention below
// @import 'style'
// you dont need the file extension.
// Make sure all imports are at the top of this file.

// NESTING example
// MARKUP
// <div className="container">
//   <div className="child1"></div>
//   <div className="child2"></div>
// </div>
// SCSS
// .container {
//     .child1 {
//         width: 50px;
//     }
//     .child2 {
//         height: 50px;
//     }
// }

//HomePage css
.HomePage-Container{
    .HomePage-Jumbotron{
        margin-left:200px;
        margin-right:200px;
        text-align: center;
    }
    Button{
        margin-left:5px;
        margin-right:5px;
    }
}

//Footer css
footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #eee;
    text-align: center;
}

//NavBar css
.Navbar{
    .NavbarLink{
        color:#9d9d9d;
        text-decoration:none;
    }
    .NavbarLink:hover{
        color:#fff;
        text-decoration:none;
    }
    .NavbarDropdownLink{
        color: #333;
    }
    .NavbarDropdownLink:hover{
        color:#262626;
        text-decoration:none;
    }
}

input.error {
    border-color: red;
}

//AboutUs css
.AboutUs-Container{
    margin-left:100px;
    margin-right:100px;
}